{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        DJANGO APP
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/">🏆HOME🏆</a> -
        <a href="/indumentaria">👟INDUMENTARIA👟</a> -
        <a href="{% url 'busquedatipo' %}">🔍BUSCAR</a> -
        <a href="about/">👤SOBRE MÍ👤</a> -
        <a href="signup/">📝REGISTRARSE📝</a> -

        <!-- Mostrar "INICIAR SESIÓN" solo si el usuario no está autenticado -->
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">✍️INICIAR SESIÓN✍️</a>
        {% endif %}

        <!-- Mostrar "MI PERFIL", "MENSAJES" y "CERRAR SESIÓN" solo si el usuario está autenticado -->
        {% if user.is_authenticated %}
            - <a href="{% url 'profile' %}">👤MI PERFIL👤</a> -
            <!-- Enlace a la bandeja de entrada de mensajes -->
            <a href="{% url 'inbox' %}">📩MENSAJES📩</a> -
            <!-- Enlace para enviar un mensaje nuevo -->
            <a href="{% url 'send_message' %}">📝ENVIAR MENSAJE📝</a> -
            <!-- Mostrar el nombre de usuario si está autenticado -->
            <span class="logged-in-message"><strong>{{ user.username }}</strong></span>
            <!-- Botón para cerrar sesión -->
            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">
                    🚪 CERRAR SESIÓN 🚪
                </button>
            </form>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
