{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        DJANGO APP
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/">🏆HOME🏆</a> -
        <a href="/indumentaria">👟INDUMENTARIA👟</a> -
        <a href="{% url 'busquedatipo' %}">🔍BUSCAR🔍</a> -
        <a href="/about/">👤SOBRE MÍ👤</a>

    
        {% if not user.is_authenticated %}
            <a href="/signup/">📝REGISTRARSE📝</a> -
            <a href="{% url 'login' %}">✍️INICIAR SESIÓN✍️</a>
        {% endif %}

   
        {% if user.is_authenticated %}
            - <a href="{% url 'profile' %}">👤MI PERFIL👤</a> -
           
            <a href="{% url 'inbox' %}">📩MENSAJES📩</a> -
        
            <a href="{% url 'send_message' %}">📝ENVIAR MENSAJE📝</a> -
           
            <span class="logged-in-message"><strong>{{ user.username }}</strong></span>
 
            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">
                    🚪 CERRAR SESIÓN 🚪
                </button>
            </form>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
