/* Estilos generales del cuerpo de la página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff;
    background-image: url('/static/images/messipuerta.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 20px 0; /* Añadir padding en la parte superior para evitar que se corte */
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #333;
    overflow-y: auto; /* Asegura que se pueda hacer scroll si es necesario */
}

/* Contenedor principal del formulario */
.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

/* Estilos del título */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio consistente entre los campos */
}

/* Estilos de las etiquetas del formulario */
form label {
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 12px;
}

/* Estilos de los campos de entrada */
form input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 6px;
    font-size: 14px;
}

/* Estilos del botón de envío */
form button {
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

/* Estilos del botón en estado hover */
form button:hover {
    background-color: #0056b3;
}

/* Ocultar los mensajes de ayuda o descripciones largas */
.helptext {
    display: none;
}

/* O si quieres ocultar solo esa sección específica, puedes usar algo más selectivo */
fieldset:last-of-type .helptext {
    display: none;
}


