{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Mensaje</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
</head>
<body>
    <div class="container">
        <h1>Enviar Mensaje</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
        <nav>
            <a href="{% url 'inbox' %}">Volver a la bandeja de entrada</a>
        </nav>
    </div>
</body>
</html>
